target
*.iml
*.ipr
*.iws
.idea

/.settings/
/.project
.DS_Store
bumpVersion.sh
tck/api/.classpath
tck/api/.project
tck/api/.settings/
.vscode**
# Ignore a release.conf for perform_release/* script usage
release.conf
